<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testCases.student">
	<listeners>
        <listener class-name="listeners.listenerTestNG"/>
    </listeners>
    
 	<test name="testngTest">
 		<classes>
 		<class name="e2e_Suites.PositiveRun" />
 		</classes>
 		<classes>
 		<class name="e2e_Suites.NegativeRun" />
 		</classes>
 	</test>
</suite>
